* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    color: #f0f0f0;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #23232e;
    height: 10vh;
    box-shadow: 0 0 0.5rem #000;
}

main {
    background: url("/assets/img/bg.jpg") no-repeat center center;
    background-size: cover;
    height: 90vh;
    overflow-y: visible;
}

.profile-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: #f0f0f0;
    border-radius: 50%;
    padding: 0.3rem;
    cursor: pointer;
}

.profile-button:hover {
    background: #f0f0f0;
    color: #23232e;
}

.profile {
    position: absolute;
    top: 10vh;
    right: 0;
    width: 30vw;
    max-height: 90vh;
    overflow-y: auto;
    background: #23232e;
    box-shadow: inset 0 0 0.5rem #000;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    padding: 3rem 2rem;
    box-sizing: border-box;
}

.profile.active {
    transform: translateX(0);
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.profile-image {
    position: relative;
    display: flex;
    background: #000;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.profile-image input {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    cursor: pointer;
    display: none;
}

.profile-image.active input {
    display: block;
}

.profile-image i {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: #333333;
    position: absolute;
    background-color: #cccccc;
    opacity: 0.5;
    border-radius: 50%;
    transition: all 0.3s;
    width: 100%;
    height: 100%;
}

.profile-image.active i {
    display: flex;
}

.buttons {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;
}

.buttons button {
    background: #f0f0f0;
    color: #23232e;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s;
}

.buttons button:hover {
    background: #23232e;
    color: #f0f0f0;
}

.buttons button.active {
    background: #e53935; 
}

.buttons button.active:hover {
    background: #23232e;
    color: #f0f0f0;
}

.buttons .save-profile {
    display: none;
    background: #4caf50;
}

.text-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.form-group label {
    font-size: 1rem;
    color: #aaaaaa;
    margin-bottom: 1rem;
}

.form-group button {
    display: none;
    background: #f0f0f0;
    color: #23232e;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s;
}

.form-group button:hover {
    background: #23232e;
    color: #f0f0f0;
}

input[type="text"],
input[type="number"] {
    font-size: 1.2rem;
    color: #f0f0f0;
    background: transparent;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #eeeeee;
    border-radius: 0.5rem;
}

input[type="text"]:disabled,
input[type="number"]:disabled {
    border: none;
}

textarea {
    font-size: 1.2rem;
    color: #f0f0f0;
    background: transparent;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #eeeeee;
    border-radius: 0.5rem;
    resize: none;
    overflow: none;
    height: auto;
}

textarea:disabled {
    border: none;
}

input.error,
textarea.error {
    border: 1px solid #e53935;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.portfolio-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.portfolio-item span {
    font-size: 2rem;
    color: #cccccc;
    margin-left: 0.5rem;
}

.remove-item {
    display: block;
}

.projects-list {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.project-item {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 0.5rem;
}

.project-item img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
}

.project-item i {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 7rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background: #333333;
    opacity: 0;
    border-radius: 0.5rem;
    cursor: pointer;
}

.project-item i:hover {
    opacity: 0.5;
}

.projects-list.active .project-item i {
    display: flex;
}

.projects-add-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background: #f0f0f0;
    border-radius: 0.5rem;
    cursor: pointer;
}

